@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  color:orange;
}
.bgc-green{
  background-color:green
}
.bgc-red{
  background-color:red
}
.bgc-blue{
  background-color:blue
}
.bgc-orange{
  background-color:orange
}